*{
   margin: 0;
   padding: 0;
   font-family: 'Bebas Neue';
   font-weight: bold;
   list-style-type: none;
}

ul{
  display: inline-block;
  padding-left: 20px;
}

html, body, .container, .conteudo{
	height: 100%
}

.container{
    width: 1024px;
    margin: 0 auto;
    display: block;
}

header, nav, div {
    display: inline-block
}

header {
    background-color: #7396FF;
    height: 80px;
    width: 100%;
    text-align: center;
}
h1{
  position: relative;
  vertical-align: middle;
}

nav {
    background-color: #FF4D4D;
    height: 100%;
    width: 30%;
}

.conteudo {
    background-color: #fff1c6;
    float: right;
    height: 100%;
    width: 70%;
}

footer{
  height : 100px;
  background-color : black;
}
